@charset "UTF-8";
@media screen and (max-width: 1920px) {
  html {
    font-size: 14px; } }

@media screen and (max-width: 992px) {
  html {
    font-size: 13px; }
  .btn {
    padding: 8px 16px; }
  .main-chapter__main-title {
    font-size: 56px; }
  .main-chapter__title-descr {
    font-size: 43px; }
  .main-chapter .main-chapter__chapter-number {
    font-size: 28px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 11px; }
  .btn {
    padding: 4px 9px; }
  .top-bar__wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* main-menu */
  .menu-trigger {
    display: block;
    position: fixed;
    top: 10px;
    right: 12px;
    z-index: 150; }
  .main-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100; }
    .main-menu--view {
      display: block; }
    .main-menu__list {
      position: absolute;
      padding: 0;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%); }
      .main-menu__list__item {
        width: 100%; }
        .main-menu__list__item__link {
          display: block;
          text-align: center;
          padding: 10px 0; }
          .main-menu__list__item__link:hover {
            background: #000; }
  /**/
  /* bottom-line header*/
  .main-header__bottom-line__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
  /* tech section columns*/
  .tech-columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .tech-columns__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 25%;
          -ms-flex: 1 1 25%;
              flex: 1 1 25%; }
      .tech-columns__item__icon-block {
        width: 50px;
        height: 80px; }
  /* section content*/
  .main-chapter__image-block__left {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 35%;
        -ms-flex: 1 1 35%;
            flex: 1 1 35%;
    padding: 0;
    margin: 0; }
  .main-chapter__image-block__right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 0;
    margin: 0; }
  .main-chapter__content-wrap {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 5px 0;
    letter-spacing: 9px; }
  .main-chapter__main-title {
    font-size: 46px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); }
  .main-chapter__title-descr {
    font-size: 33px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); }
  .main-chapter .main-chapter__chapter-number {
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7); }
  /* section brand */
  .brand-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .brand-list__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 45%;
          -ms-flex: 1 1 45%;
              flex: 1 1 45%; }
  .chapter-content {
    padding: 0 2%;
    /* Заголовок */
    /* chapter */
    /* content text */ }
    .chapter-content__title {
      font-size: 46px; }
    .chapter-content__chapter-block {
      font-size: 24px; }
    .chapter-content__text {
      font-size: 13px;
      text-align: left; }
  /* Позиционирование блоков */
  /* Вправо*/
  .chapter-right {
    margin: auto; }
  /* Влево */
  .chapter-left {
    margin: auto; } }

/**/
@media screen and (max-width: 480px) {
  html {
    font-size: 10px; }
  .form-search {
    width: 210px; }
  .authorization-block {
    padding: 0 5px 0 0; }
  .language-block {
    padding: 0 5px; }
  .basket-block {
    padding: 0 0 0 5px; }
  /* tech section columns*/
  .tech-columns {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .tech-columns__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 50%;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%; }
      .tech-columns__item__icon-block {
        width: 45px;
        height: 70px; }
  /* section content */
  .main-chapter__content-wrap {
    top: 50%;
    letter-spacing: 3px;
    text-align: center; }
  .main-chapter__main-title {
    font-size: 46px;
    padding: 0;
    text-align: center; }
  .main-chapter__title-descr {
    font-size: 33px;
    padding: 0;
    text-align: center; }
  .main-chapter .main-chapter__chapter-number {
    font-size: 14px;
    padding: 5px 0;
    text-align: center; }
  /* section brand */
  .brand-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .brand-list__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 40%;
          -ms-flex: 1 1 40%;
              flex: 1 1 40%;
      margin: 0.5em; }
  .chapter-content {
    /* белый цвет блока */
    /* темный цвет блока */
    /* Заголовок */
    /* chapter */
    /* content text */ }
    .chapter-content--white {
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
    .chapter-content--black {
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
    .chapter-content__title {
      font-size: 36px; }
    .chapter-content__chapter-block {
      font-size: 22px; }
    .chapter-content__text {
      font-size: 12px;
      text-align: left; } }
