@import 'parts/fonts.scss';

img {
  max-width: 100%;
  width: 100%;
}

/*.main-wrapper{
  max-width: 1920px;
  margin: 0 auto;
}*/

.wave-line {
  &:after {
    content: '';
    display: block;
    margin: 20px 0;
    background-image: url('../img/wave-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 120px;
    height: 28px;
  }
}

.center-line {
  &:after {
    margin-left: auto;
    margin-right: auto;
  }
}
.interim-block {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* кнопки */
.btn {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2;
  text-align: center;
  display: inline-block;
  padding: 13px 25px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(232, 233, 239);
  transition: all 0.3s ease;
}
/* белая кнопка*/
.btn-white{
  border: 2px solid rgb(232, 233, 239);
  color: rgb(255, 255, 255);
  &:focus,
  &:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
  }
}
/* черная кнопка */
.btn-black{
  background-color: rgb(32, 33, 33);
  border: 2px solid rgb(32, 33, 33);
  color: rgb(255, 255, 255);
  &:focus,
  &:hover{
    cursor: pointer;
    background: #fff;
    color: rgb(32, 33, 33);
  }
}


/* top bar */
@import 'parts/top-bar';

/* main-header */
@import 'parts/header';

/* teach section */
@import 'parts/teach';

/* content style__ chapter*/
@import 'parts/content';

@import "parts/section-brand";

@import "parts/quote-section";

@import "parts/section-chapters";

@import "parts/news-article";

/* main footer */
@import 'parts/footer';