@import 'parts/fonts.scss';

img {
  max-width: 100%;
  width: 100%;
}


.wave-line{
  &:after{
    content: '';
    display: block;
    margin: 20px 0;
    background-image: url('../img/wave-line.svg');
    background-repeat: no-repeat;
    width: 120px;
    height: 28px;
  }
}
.center-line{
  &:after{
    margin-left: auto;
    margin-right: auto;
  }
}
.interim-block{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* top header */
@import 'parts/top-bar';

/* main-header */
@import 'parts/header';

/* teach section */
@import 'parts/teach';

/* content style__ chapter*/
@import 'parts/content';

@import "parts/section-brand";


@import "parts/section-middle";
@import "parts/section-bottom";


@import "parts/news-article";

/* main footer */
@import 'parts/footer'


;