@media screen and (max-width: 1920px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 13px;
  }
  .btn {
    padding: 8px 16px;
  }

  .main-chapter {
    &__content-wrap {
    }
    &__main-title {
      font-size: 56px;
    }
    &__title-descr {
      font-size: 43px;
    }
    .main-chapter__chapter-number {
      font-size: 28px;
    }
  }

}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .btn {
    padding: 10px 8px;
  }
  .wave-line {
    &:after {
      width: 90px;
      height: 20px;
    }
  }
  .top-bar__wrapper {
    justify-content: center;
  }

  /* main-menu */
  .menu-trigger {
    display: block;
    position: fixed;
    top: 10px;
    right: 12px;
    z-index: 150;
  }
  .main-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 100;
    &--view {
      display: block;
    }
    &__list {
      position: absolute;
      padding: 0;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
      &__item {
        width: 100%;
        &__link {
          display: block;
          text-align: center;
          padding: 10px 0;
          &:hover {
            background: #000;
          }
        }
      }
    }
  }
  /**/

  /* bottom-line header*/
  .main-header__bottom-line {
    &__wrapper {
      flex-direction: column;
      align-content: center;
    }
  }

  /* tech section columns*/
  .tech-columns {
    flex-wrap: wrap;
    &__item {
      flex: 1 1 25%;
      &__icon-block {
        width: 50px;
        height: 80px;
      }
    }
  }

  /* section content*/
  .main-chapter__image-block {
    &__left {
      flex: 1 1 35%;
      padding: 0;
      margin: 0;
    }
    &__right {
      flex: 1 1 50%;
      padding: 0;
      margin: 0;
    }

  }
  .main-chapter {
    &__content-wrap {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      //border: 1px solid black;
      //background: rgba(255, 255, 255, 0.2);
      padding: 5px 0;
      letter-spacing: 9px;
    }
    &__main-title {
      font-size: 46px;
      text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.4);
    }
    &__title-descr {
      font-size: 33px;
      text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.4);
    }
    .main-chapter__chapter-number {
      font-size: 18px;
      text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.4);
    }
  }

  /* section brand */
  .brand-list {
    justify-content: center;
    &__item {
      flex: 1 1 45%;
    }
  }

  .chapter-content {
    padding: 0 2%;
    /* Заголовок */
    &__title {
      font-size: 46px;
    }
    /* chapter */
    &__chapter-block {
      font-size: 24px;
    }
    /* content text */
    &__text {
      font-size: 13px;
      text-align: left;
    }
  }

  /* Позиционирование блоков */
  /* Вправо*/
  .chapter-right {
    margin: auto;
  }
  /* Влево */
  .chapter-left {
    margin: auto;
  }

}

/**/
@media screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
  .btn {
    padding: 6px 6px;
  }
  .wave-line {
    &:after {
      width: 80px;
      height: 16px;
    }
  }
  .form-search {
    width: 210px;
  }
  .authorization-block {
    padding: 0 5px 0 0;
  }
  .language-block {
    padding: 0 5px;
  }
  .basket-block {
    padding: 0 0 0 5px;
  }

  /* tech section columns*/
  .tech-columns {
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      flex: 1 1 50%;
      &__icon-block {
        width: 45px;
        height: 70px;
      }
    }
  }

  /* section content */
  .main-chapter {
    &__content-wrap {
      top: 50%;
      letter-spacing: 3px;
      text-align: center;
    }
    &__main-title {
      font-size: 46px;
      padding: 0;
      text-align: center;
    }
    &__title-descr {
      font-size: 33px;
      padding: 0;
      text-align: center;
    }
    .main-chapter__chapter-number {
      font-size: 14px;
      padding: 5px 0;
      text-align: center;
    }
  }

  /* section brand */
  .brand-list {
    justify-content: center;
    &__item {
      flex: 1 1 40%;
      margin: 0.5em;
    }
  }

  .chapter-content {
    /* белый цвет блока */
    &--white {
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
    /* темный цвет блока */
    &--black {
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    }
    /* Заголовок */
    &__title {
      font-size: 36px;
    }
    /* chapter */
    &__chapter-block {
      font-size: 22px;
    }
    /* content text */
    &__text {
      font-size: 12px;
      text-align: left;
    }
  }

  .article-list{
    &__item{
      flex: 1 1 45%;
    }
  }

  .form-newsletter__block-form__input{
    width: 230px;
  }

  .social-block{
    &__list{
      flex-wrap: wrap;
      flex-direction: column;
      &__item{

      }
    }
  }

  .main-header__content{
    &__title-main{
      font-size: 32px;
      letter-spacing: 10px;
    }
    &__title-descr{
      font-size: 18px;
    }
  }
}


@media screen and (max-width: 360px){
  .article-list{
    padding: 0 2%;
    &__item{
      flex: 1 1 100%;
    }
  }
}