section {
  max-width: 1920px;
}

.section-chapter {
  position: relative;
}

.section-content {
  max-height: 980px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  &__left {
    box-sizing: border-box;
    padding: 0 5em 0 0;
    flex: 0 0 35%;
    margin-left: 50px;
  }
  &__right {
    box-sizing: border-box;
    flex: 0 0 50%;
    margin-right: 50px;
  }
}

.img-wrap-right {
  padding: 0 5em;
}

.section-image__img-wrap {
  background-color: rgb(212, 219, 226);
  &__img {
    max-width: 100%;
    width: 100%;
  }
}

.section-content__content-wrap {
  position: absolute;
  top: 20%;
  left: 28%;
  letter-spacing: 9px;
  .title-level-1 {
    font-size: 78px;
    font-family: "Merriweather", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding-right: 1em;
    padding-left: 0.5em;
    line-height: 1;
  }
  .title-level-2 {
    font-size: 62px;
    font-family: "FuturaPT", sans-serif;
    color: rgb(32, 33, 33);
    padding-left: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }
  .title-chapter {
    font-size: 26px;
    font-family: "Merriweather", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1;
    text-align: right;
    padding-left: 2.5em;
    letter-spacing: 2px;
  }
}