.main-header{
  min-height: 100vh;
  background-image: url('../img/image/slide-1.jpg');
  background-size: cover;
  background-position: 0 0;
}


.main-header__bottom-line{
  height: 60px;
  background-color: rgba(0,0,0, 0.3);
}