
.section-news {
  padding: 40px 0;
  &__title-container {
    &__main-title {
      &__title {
        font-size: 4.4rem;
        font-family: "FuturaPT", sans-serif;
        color: rgb(32, 33, 33);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: center;
      }
      &__title-descr {
        font-size: 3.2rem;
        font-family: "Merriweather", sans-serif;
        color: rgb(32, 33, 33);
        font-weight: bold;
        line-height: 1;
        text-align: center;
      }
    }
    &__description {
      max-width: 830px;
      padding: 15px 5px 5px;
      margin: 10px auto;

      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      color: rgb(156, 156, 156);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2;
      text-align: center;
    }
  }
}

/**/
/* news blocks article*/
.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 15px auto 0;
  &__item {
    flex: 1 1 30%;
    max-width: 360px;
    margin: 10px 1% 40px;
    &__thubnail-block {
      width: 100%;
      margin-bottom: 15px;
      overflow: hidden;
      &__link {
        position: relative;
        display: block;
        transition: all 0.3s ease;
        &__image {
          max-width: 100%;
          width: 100%;
          transition: all 0.3s ease;
        }
        &__view-text {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 70%;
          transform: translate(-50%, -50%);
          z-index: 25;
          font-size: 1rem;
          font-family: "Montserrat", sans-serif;
          text-align: center;
          letter-spacing: 1px;
          color: rgb(255, 255, 255);
          line-height: 1;
          font-weight: bold;
          opacity: 0;
          text-transform: uppercase;
          transition: all 0.1s ease;
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 95%;
          height: 95%;
          transform: translate(-50%, -50%);
          box-sizing: border-box;
          opacity: 0;
          border: 5px solid #fff;
          background: rgba(146, 205, 207, 0);
          transition: all 0.3s ease;
          z-index: 20;
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-sizing: border-box;
          opacity: 0;
          background: rgba(146, 205, 207, 0.85);
          transition: all 0.3s ease;
          z-index: 10;
        }
        &:focus,
        &:hover {
          &:before,
          &:after,
          .article-list__item__thubnail-block__link__view-text {
            opacity: 1;
          }
          .article-list__item__thubnail-block__link__image {
            transform: scale(1.1);
          }

        }
      }
    }

    &__category {
      padding: 5px 0;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      color: rgb(143, 143, 143);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.5;
      text-align: center;
    }
    &__title-article {
      padding: 0.4em 0;
      font-size: 1.3rem;
      font-family: "Merriweather", sans-serif;
      color: rgb(32, 33, 33);
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    &__content-article {
      padding: 5px 1.5em;
      font-size: 1rem;
      font-family: "Lato", sans-serif;
      color: rgb(153, 153, 153);
      line-height: 1.4;
      text-align: center;
    }
  }
}

.news__btn-wrap {
  text-align: center;
  padding: 15px 0 5px;
}

.btn-article-more {
  display: inline-block;
  padding: 16px 36px;
  background: transparent;
  border: 2px solid #000;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(26, 28, 39);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;

  &:focus,
  &:hover {
    cursor: pointer;
    color: #fff;
    background: #000;
  }
}

